  .list {
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     margin-right: auto;
     margin-left: auto;
  }

  .listItem {
     max-width: 30%;
     list-style: none;
     padding: 05;
     margin: 0;
  }